<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/xrektstyle.css" />
    </head>
<body>
    <a href="https://github.com/S0N-0F-A-S0N/Blogz"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="wrapper">
        <div class="header">
            LC101 Blogz Project
        </div>
        <div id="menu">
            <ul>
                <li><a href="/home"> Home </a></li>
                <li><a href="/post"> Post </a></li>
                <li><a href="/users"> Users </a></li>
                <li><a href="/about"> About </a></li>
                <li><a href="/login"> Login </a></li>
                <li><a href="/logout"> Logout </a></li>
                <li><a href="/register"> Register </a></li>
            </ul>
        </div>
    </div>
    {% block content %}
    {% endblock %}

</body>
</html>
